*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
*.log
*.nav
*.orig
*.rej
*.swp
*~
*.bak
*.tmp
*.temp
captures/
.navigation/
app/build/
app/release/
app/debug/
*.hprof

